.jumbotron {
    margin-top: -3vh;
    color: white;
    text-align: center;
    color: white;
}

.navbar-inverse {
    background-color: #00487C;
    color: white;
}
.navbar-inverse>a {
    color: white;
}

.navbar-logo {
    height: 200%;
    margin: -25%;
    width: auto;
}

.header-home {
    background-image:url("../img/home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.footer {
    background-color: #262626;
    color: white;
    text-align: center;
}

.sitemap>h4 {
    line-height: 150%;
}

.address {
    padding: 1em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .sitemap {
        text-align: left;
    }

    .address {
        text-align: right;
    }
}

/* Flexbox for Positioning */
.flex-container {
    display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
