h1, h2, h5, .navbar-brand {
    font-family: 'Spectral', "Palatino Linotype", Palatino, serif;
    color: #02324f;
    text-decoration: none;
}

p {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    color: #02324f;
}

a, a:focus, a:hover, a:-webkit-any-link {
  color: white;
  text-decoration: none;
}

/*** NAVBAR ***/

.navbar-default {
    color: #00487C;
}

.navbar-default .navbar-brand {
    color: #00487C;
    font-size: 1.25em;
}

.navbar-default .name {
    margin-left: -1.5em;
}

.navbar-default .navbar-nav>li>a {
    color: #00487C;
}

.navbar-inverse {
    background-color: #00487C;
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-size: 1.25em;
}

.navbar-inverse .name {
    margin-left: -1.5em;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-logo {
    height: 200%;
    margin: -25%;
    width: auto;
}

/*** COVER PHOTO  ***/

.header-home {
    background-image:url("../img/home.jpg");
    background-position: center bottom;
}

.header-about {
    background-image:url("../img/about.jpg");
    background-position: center bottom;
}

.header-services {
    background-image:url("../img/services.jpg");
    background-position: center center;
}

.header-contact {
    background-image:url("../img/contact.jpeg");
    background-position: center bottom;
}

h1 {
    text-shadow: 1px 1px 4px #1a1a1a;
}

.jumbotron {
    margin-top: -3.5vh;
    color: white;
    text-align: center;
    color: white;
    padding-top: 26vh;
    padding-bottom: 26vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/*** PAGE TEXT ON WHITE BG ***/

.blurb {
    padding-top: 2em;
}

.blurb>h2 {
    font-size: 2.25em;
}

.blurb>p {
    font-size: 1.25em;
}

.blurb>ul {
    font-size: 1.25em;
}

.btn-lg {
    border-radius: 22.5px;
    background-color: #00B0F0;
    border-color: #00B0F0;
}

.services-list>h2 {
    font-size: 1.75em;
}

img.email-link {
    max-height: 2.9em;
    max-width: 2.9em;
    margin: 1em;
}

a.email-link {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    color: #02324f;
    font-size: 1.4em;
}

/*** TESTIMONIALS ***/

.no-gutter {
    padding-right: 0;
    padding-left: 0;
    margin-right: -10;
    margin-left: -10;
}

.side-image-container {
    background-image:url("../img/one_on_one.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-position: center center;
    height: 60vh;
}

.carousel .item {
    background-color: #00487C;
    height: 60vh;
}

h5 {
    font-size: 1.1em;
    color: white;
}

/*** FOOTER ***/

.footer {
    background-color: #262626;
    color: white;
    text-align: center;
}

.sitemap>h4 {
    line-height: 150%;
}

.sitemap>h4>a {
    color: white;
    text-decoration: none;
}

.address {
    padding: 1em;
}

.address>p, .address>p>a, .address>small>a {
    color: white;
    text-decoration: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-default .navbar-brand {
        color: #00487C;
        font-size: 1.8em;
    }

    .navbar-inverse .navbar-brand {
        color: white;
        font-size: 1.8em;
    }

    .blurb {
        padding-top: 3em;
    }

    .blurb>h2 {
        font-size: 2.5em;
    }

    .side-image-container {
        background-image:url("../img/one_on_one.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        color: white;
        background-position: center center;
        height: 40vh;
    }

    .carousel .item {
        background-color: #00487C;
        height: 40vh;
    }

    h5 {
        font-size: 1.15em;
        color: white;
    }

    .sitemap {
        text-align: left;
        padding-top: .8em;
        padding-left: 2em;
    }

    .address {
        text-align: right;
    }
}

/* Flexbox for Positioning */
.flex-container {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: flex-start;
    height: 85%;
}